@model IEnumerable<SchoolSite.Models.Student>

@{
    ViewBag.Title = "StudentsBySubject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>StudentsBySubject</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.School)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Avatar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specialization)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudiesName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearOfStudies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartStudiesDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.School)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Avatar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specialization)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudiesName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearOfStudies)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartStudiesDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SchoolMemberId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SchoolMemberId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SchoolMemberId })
        </td>
    </tr>
}

</table>
