@model List<SchoolSite.Models.Teacher>

@{
    ViewBag.Title = "TeacherList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    TeacherList
</h2>

<div>
    <h4>Teacher</h4>
    
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => Model[Model.Count].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model[Model.Count].Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model[Model.Count].School)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model[Model.Count].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model[Model.Count].Degree)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model[Model.Count].Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model[Model.Count].TelephoneNumber)
            </th>
        </tr>
        </table>
  
    
    @foreach (var item in Model)
    {

        <table>
            <tr>
            
                <th>
                    @Html.DisplayFor(model => item.Name)
                </th>
                <th>
                    @Html.DisplayFor(model => item.Surname)
                </th>
                <th>
                    @Html.DisplayFor(model => item.School)
                </th>
                <th>
                    @Html.DisplayFor(model => item.Description)
                </th>
                <th>
                    @Html.DisplayFor(model => item.Degree)
                </th>
                <th>
                    @Html.DisplayFor(model => item.Room)
                </th>
                <th>
                    @Html.DisplayFor(model => item.TelephoneNumber)
                </th>
            </tr>
            
        </table>


    }
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.SchoolMemberId }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>
